@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {

	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 50%, rgba(0,0,0,1) 100%);
	font-family: 'Press Start 2P', cursive;
}
.playArea {
    background-color: #93c4014d;
    border: 2px solid grey;
    width: 581px;
    height: 418px;
    position: fixed;
    top: 51%;
    left: 50.4%;
    transform: translate(-50%, -50%);
}

#fruit {
	display: none;
}

.monitor {
	width: 1200px;
	/* height: 800px; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameOver {
	position: fixed;
	top: 43.2%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 35px;
}

.playButton {
    position: fixed;
    top: 66%;
    left: 77%;
    background: yellow;
    border: 2px solid orange;
    padding: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 2px orange;
	padding-left: 20px;
}

.playButtonArea {
    position: fixed;
	top: 68%;
    left: 77%;
    font-size: 0.9em;
    color: white;
    font-family: 'Arial', cursive;
    font-weight: 700;
    text-transform: uppercase;
}
.scoreBox {
    float: right;
    margin: 21px;
    position: relative;
    color: white;
    margin-top: 381px;
}


h2 {
	font-size: 18px;
	padding: 10px;
}